CREATE DATABASE [QL_THUVIEN]
GO
USE [QL_THUVIEN]
GO
/****** Object:  Table [dbo].[DOCGIA]    Script Date: 7/23/2021 10:35:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOCGIA](
	[MADG] [int] IDENTITY(1,1) NOT NULL,
	[TENDG] [nvarchar](50) NULL,
	[NGAYSINH] [date] NULL,
	[GIOITINH] [nchar](10) NULL,
	[LIENHE] [nvarchar](50) NULL,
	[QUYEN] [int] NOT NULL,
	[MUON] [int] NOT NULL,
	[TRA] [int] NOT NULL,
	[DOITUONG] [int] NOT NULL,
	[SOGIAHAN] [int] NOT NULL,
 CONSTRAINT [PK_DOCGIA] PRIMARY KEY CLUSTERED 
(
	[MADG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LOAISACH]    Script Date: 7/23/2021 10:35:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAISACH](
	[MALOAI] [int] IDENTITY(1,1) NOT NULL,
	[TENLOAI] [nvarchar](50) NULL,
 CONSTRAINT [PK_LOAISACH] PRIMARY KEY CLUSTERED 
(
	[MALOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MUONTRASACH]    Script Date: 7/23/2021 10:35:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MUONTRASACH](
	[MADG] [int] NOT NULL,
	[MASH] [int] NOT NULL,
	[NGAYMUON] [date] NOT NULL,
	[NGAYTRA] [date] NULL,
	[DATRA] [bit] NOT NULL,
	[LANMUON] [int] NOT NULL,
 CONSTRAINT [PK_MUONTRASACH_1] PRIMARY KEY CLUSTERED 
(
	[MADG] ASC,
	[MASH] ASC,
	[LANMUON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NHAXUATBAN]    Script Date: 7/23/2021 10:35:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHAXUATBAN](
	[MANXB] [int] IDENTITY(1,1) NOT NULL,
	[TENNXB] [nvarchar](50) NULL,
	[DCNXB] [nvarchar](50) NULL,
	[DTNXB] [nvarchar](50) NULL,
 CONSTRAINT [PK_NHAXUATBAN] PRIMARY KEY CLUSTERED 
(
	[MANXB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SACH]    Script Date: 7/23/2021 10:35:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SACH](
	[MASH] [int] IDENTITY(1,1) NOT NULL,
	[TENSH] [nvarchar](50) NULL,
	[MATG] [int] NOT NULL,
	[NAMXB] [int] NULL,
	[MANXB] [int] NOT NULL,
	[MALOAI] [int] NOT NULL,
	[SOLUONG] [int] NULL,
	[SOLUONGCON] [int] NULL,
 CONSTRAINT [PK_SACH] PRIMARY KEY CLUSTERED 
(
	[MASH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TACGIA]    Script Date: 7/23/2021 10:35:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TACGIA](
	[MATG] [int] IDENTITY(1,1) NOT NULL,
	[TENTG] [nvarchar](50) NULL,
	[DIACHI] [nvarchar](50) NULL,
 CONSTRAINT [PK_TACGIA] PRIMARY KEY CLUSTERED 
(
	[MATG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 7/23/2021 10:35:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TENTK] [nchar](10) NULL,
	[HOTEN] [nvarchar](50) NULL,
	[MATKHAU] [nvarchar](20) NULL,
 CONSTRAINT [PK_TAIKHOAN] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[DOCGIA] ON 

INSERT [dbo].[DOCGIA] ([MADG], [TENDG], [NGAYSINH], [GIOITINH], [LIENHE], [QUYEN], [MUON], [TRA], [DOITUONG], [SOGIAHAN]) VALUES (1, N'Lê Thanh Lâm', CAST(0x65240B00 AS Date), N'Nam       ', N'0377769623', 1, 1, 5, 1, 0)
INSERT [dbo].[DOCGIA] ([MADG], [TENDG], [NGAYSINH], [GIOITINH], [LIENHE], [QUYEN], [MUON], [TRA], [DOITUONG], [SOGIAHAN]) VALUES (2, N'Đoàn Phạm Phi Long', CAST(0x07240B00 AS Date), N'Nam       ', N'0987543215', 1, 0, 0, 1, 1)
INSERT [dbo].[DOCGIA] ([MADG], [TENDG], [NGAYSINH], [GIOITINH], [LIENHE], [QUYEN], [MUON], [TRA], [DOITUONG], [SOGIAHAN]) VALUES (3, N'Sy Vinh Thái', CAST(0x61250B00 AS Date), N'Nam       ', N'0778880506', 1, 0, 0, 1, 1)
SET IDENTITY_INSERT [dbo].[DOCGIA] OFF
SET IDENTITY_INSERT [dbo].[LOAISACH] ON 

INSERT [dbo].[LOAISACH] ([MALOAI], [TENLOAI]) VALUES (1, N'Chính Trị - Pháp Lý')
INSERT [dbo].[LOAISACH] ([MALOAI], [TENLOAI]) VALUES (2, N'Khoa Học - Kỹ Thuật')
INSERT [dbo].[LOAISACH] ([MALOAI], [TENLOAI]) VALUES (3, N'Lịch sử')
SET IDENTITY_INSERT [dbo].[LOAISACH] OFF
INSERT [dbo].[MUONTRASACH] ([MADG], [MASH], [NGAYMUON], [NGAYTRA], [DATRA], [LANMUON]) VALUES (1, 1, CAST(0xE0410B00 AS Date), CAST(0xF8410B00 AS Date), 1, 1)
INSERT [dbo].[MUONTRASACH] ([MADG], [MASH], [NGAYMUON], [NGAYTRA], [DATRA], [LANMUON]) VALUES (1, 1, CAST(0xC9420B00 AS Date), CAST(0xD3420B00 AS Date), 1, 2)
INSERT [dbo].[MUONTRASACH] ([MADG], [MASH], [NGAYMUON], [NGAYTRA], [DATRA], [LANMUON]) VALUES (1, 1, CAST(0xC9420B00 AS Date), CAST(0xD3420B00 AS Date), 1, 3)
SET IDENTITY_INSERT [dbo].[NHAXUATBAN] ON 

INSERT [dbo].[NHAXUATBAN] ([MANXB], [TENNXB], [DCNXB], [DTNXB]) VALUES (2, N'Chính Trị Quốc Gia Sự Thật', N'44 Street 1A, Binh Tri Dong B Ward', N'+84-124-328-4428')
INSERT [dbo].[NHAXUATBAN] ([MANXB], [TENNXB], [DCNXB], [DTNXB]) VALUES (5, N'Dân Trí', N'9/69 ALLEY 117, THAI HA STREET', N'(0199) 008 1654')
INSERT [dbo].[NHAXUATBAN] ([MANXB], [TENNXB], [DCNXB], [DTNXB]) VALUES (6, N'Thế Giới', N'9 Nguyen Huy Tuong, Ward 6', N'0219 748 9214')
SET IDENTITY_INSERT [dbo].[NHAXUATBAN] OFF
SET IDENTITY_INSERT [dbo].[SACH] ON 

INSERT [dbo].[SACH] ([MASH], [TENSH], [MATG], [NAMXB], [MANXB], [MALOAI], [SOLUONG], [SOLUONGCON]) VALUES (1, N'Từ điển pháp luật Việt Nam', 1, 2020, 6, 1, 4, 4)
INSERT [dbo].[SACH] ([MASH], [TENSH], [MATG], [NAMXB], [MANXB], [MALOAI], [SOLUONG], [SOLUONGCON]) VALUES (7, N'Luật Đầu Tư', 2, 2020, 2, 1, 4, 4)
INSERT [dbo].[SACH] ([MASH], [TENSH], [MATG], [NAMXB], [MANXB], [MALOAI], [SOLUONG], [SOLUONGCON]) VALUES (13, N'Code Dạo Kí Sự', 3, 2017, 5, 2, 4, 4)
SET IDENTITY_INSERT [dbo].[SACH] OFF
SET IDENTITY_INSERT [dbo].[TACGIA] ON 

INSERT [dbo].[TACGIA] ([MATG], [TENTG], [DIACHI]) VALUES (1, N'Nguyễn Ngọc Điệp', N'Ogden')
INSERT [dbo].[TACGIA] ([MATG], [TENTG], [DIACHI]) VALUES (2, N'Quốc hội', N'Memphis')
INSERT [dbo].[TACGIA] ([MATG], [TENTG], [DIACHI]) VALUES (3, N'Phạm Huy Hoàng ', N'Hawarden')
GO
SET IDENTITY_INSERT [dbo].[TACGIA] OFF
SET IDENTITY_INSERT [dbo].[TAIKHOAN] ON 

INSERT [dbo].[TAIKHOAN] ([ID], [TENTK], [HOTEN], [MATKHAU]) VALUES (1, N'admin     ', N'Admin', N'admin')
SET IDENTITY_INSERT [dbo].[TAIKHOAN] OFF
ALTER TABLE [dbo].[DOCGIA] ADD  CONSTRAINT [DF_DOCGIA_QUYEN]  DEFAULT ((1)) FOR [QUYEN]
GO
ALTER TABLE [dbo].[DOCGIA] ADD  CONSTRAINT [DF_DOCGIA_MUON]  DEFAULT ((0)) FOR [MUON]
GO
ALTER TABLE [dbo].[DOCGIA] ADD  CONSTRAINT [DF_DOCGIA_TRA]  DEFAULT ((0)) FOR [TRA]
GO
ALTER TABLE [dbo].[DOCGIA] ADD  CONSTRAINT [DF_DOCGIA_DOITUONG]  DEFAULT ((1)) FOR [DOITUONG]
GO
ALTER TABLE [dbo].[DOCGIA] ADD  CONSTRAINT [DF_DOCGIA_SOGIAHAN]  DEFAULT ((1)) FOR [SOGIAHAN]
GO
ALTER TABLE [dbo].[MUONTRASACH] ADD  CONSTRAINT [DF_MUONTRASACH_DATRA]  DEFAULT ((0)) FOR [DATRA]
GO
ALTER TABLE [dbo].[MUONTRASACH] ADD  CONSTRAINT [DF_MUONTRASACH_LANMUON]  DEFAULT ((1)) FOR [LANMUON]
GO
ALTER TABLE [dbo].[SACH] ADD  CONSTRAINT [DF_SACH_SOLUONG]  DEFAULT ((1)) FOR [SOLUONG]
GO
ALTER TABLE [dbo].[MUONTRASACH]  WITH CHECK ADD  CONSTRAINT [FK_MUONTRASACH_DG] FOREIGN KEY([MADG])
REFERENCES [dbo].[DOCGIA] ([MADG])
GO
ALTER TABLE [dbo].[MUONTRASACH] CHECK CONSTRAINT [FK_MUONTRASACH_DG]
GO
ALTER TABLE [dbo].[MUONTRASACH]  WITH CHECK ADD  CONSTRAINT [FK_MUONTRASACH_SACH] FOREIGN KEY([MASH])
REFERENCES [dbo].[SACH] ([MASH])
GO
ALTER TABLE [dbo].[MUONTRASACH] CHECK CONSTRAINT [FK_MUONTRASACH_SACH]
GO
ALTER TABLE [dbo].[SACH]  WITH CHECK ADD  CONSTRAINT [FK_SACH_LOAISACH] FOREIGN KEY([MALOAI])
REFERENCES [dbo].[LOAISACH] ([MALOAI])
GO
ALTER TABLE [dbo].[SACH] CHECK CONSTRAINT [FK_SACH_LOAISACH]
GO
ALTER TABLE [dbo].[SACH]  WITH CHECK ADD  CONSTRAINT [FK_SACH_NHAXUATBAN] FOREIGN KEY([MANXB])
REFERENCES [dbo].[NHAXUATBAN] ([MANXB])
GO
ALTER TABLE [dbo].[SACH] CHECK CONSTRAINT [FK_SACH_NHAXUATBAN]
GO
ALTER TABLE [dbo].[SACH]  WITH CHECK ADD  CONSTRAINT [FK_SACH_TACGIA] FOREIGN KEY([MATG])
REFERENCES [dbo].[TACGIA] ([MATG])
GO
ALTER TABLE [dbo].[SACH] CHECK CONSTRAINT [FK_SACH_TACGIA]
GO

--tạo view muontrasach
CREATE VIEW [MUONTRASACHP] AS
SELECT MUONTRASACH.*, SACH.TENSH, DOCGIA.TENDG
FROM MUONTRASACH, DOCGIA, SACH
WHERE MUONTRASACH.MADG = DOCGIA.MADG AND MUONTRASACH.MASH = SACH.MASH
Go
--tạo view sach
CREATE VIEW [SACHP] AS
SELECT SACH.*, NHAXUATBAN.TENNXB, LOAISACH.TENLOAI,TACGIA.TENTG
FROM SACH, NHAXUATBAN, LOAISACH,TACGIA
WHERE SACH.MANXB = NHAXUATBAN.MANXB AND SACH.MALOAI = LOAISACH.MALOAI AND SACH.MATG=TACGIA.MATG